<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--=============== REMIXICONS ===============-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.css">

    <!--=============== CSS ===============-->
    <link rel="stylesheet" href="Student_after_login.css">

    <title><%=jobs2.rows[0].company_name%></title>
</head>
<body>
    <header class="header">
        <section class="flex">

           <div id="menu-btn" class="fa-solid fa-bars-staggered"></div>
           <a href="#" class="logo client-logo">
              <i class="fa-solid fa-building"></i>
              <h3><%=jobs2.rows[0].company_name%></h3>
           </a>
           <nav class="navbar">
              <a  href="#">Home</a>
              <!-- <a  href="#">Jobs</a> -->
              <a  href="/about">About us</a>
              <a  href="/contact">Contact us</a>
              <button class="btn clientbtn"><a class="postjob-btn" href="/NewJobPost" >Post a new Job</a></button>
              <% let v1 = "/deleteaccount?name=" + jobs2.rows[0].company_name ; %>
              <button class="btn clientbtn"><a class="postjob-btn" href=<%=v1%> >Delete Account</a></button>
           </nav>
        </section>

     </header>


     <section class="job-container">
      <h1 class="heading">All Jobs</h1>
      <% for(let i = 0; i < jobs.rows.length; i += 3) { %>
          <div class="box-container">
              <% for(let j = i; j < i + 3 && j < jobs.rows.length; j++) { %>
                  <div class="box">
                      <div class="company">
                          <!-- <img src="https://t4.ftcdn.net/jpg/05/13/72/29/360_F_513722905_SgxiGdjQZsdvP4ODmERsQGgW2bUwj1lT.jpg" alt=""> -->
                          <!-- <div>
                              <h3>IT Google</h3>
                              <p>2 days ago</p>
                          </div> -->
                      </div>
                      <h3 class="job-title"><%= jobs.rows[j].job_title %></h3>
                      <p class="location">
                          <i class="fa-solid fa-location-dot"></i>
                          <span><%= jobs.rows[j].job_city %>, <%= jobs.rows[j].job_country %></span>
                      </p>
                      <div class="tags">
                          <p><i class="fa-solid fa-indian-rupee-sign"></i><span><%= jobs.rows[j].job_salary %></span></p>
                          <p><i class="fa-solid fa-briefcase"></i><span><%= jobs.rows[j].job_type %></span></p>
                      </div>
                      <div class="flex_btn">
                        <% let u= "/candidate?jobid=" + jobs.rows[j].job_post_id %>
                          <a href=<%=u %> class="btn">candidates Applied</a>
                          <% let v= "/job_delete?jobid=" + jobs.rows[j].job_post_id %>
                          <form action= <%=v %> method="post">
                              <button type="submit" class="btn">Delete</button>
                          </form>
                      </div>
                  </div>
              <% } %>
          </div>
      <% } %>
      <div style="text-align: center; margin-top: 2rem;">
          <!-- <a href="jobs.html" class="btn">View All</a> -->
      </div>
  </section>

  <footer class="footer">
    <div class="grid">
          <div class="box">
             <h3>Quick Links</h3>
             <a href="#"><i class="fa-solid fa-angle-right"> </i> Home</a>
             <a href="#"><i class="fa-solid fa-angle-right"></i> About us</a>
             <a href="#"><i class="fa-solid fa-angle-right"></i> All jobs</a>
             <a href="#"><i class="fa-solid fa-angle-right"></i> Contact us</a>
             <a href="#"><i class="fa-solid fa-angle-right"></i> Filter search</a>
          </div>

          <div class="box">
             <h3>extra links</h3>
             <a href="#"><i class="fa-solid fa-angle-right"></i> Account</a>
             <a href="#"><i class="fa-solid fa-angle-right"></i> Login</a>
             <a href="#"><i class="fa-solid fa-angle-right"></i> Register</a>
             <a href="#"><i class="fa-solid fa-angle-right"></i> Dashboard</a>
          </div>

          <div class="box">
             <h3>Follow us</h3>
             <a href="#"><i class="fa-brands fa-instagram"></i> Instagram</a>
             <a href="#"><i class="fa-brands fa-facebook"></i> Facebook</a>
             <a href="#"><i class="fa-brands fa-x-twitter"></i> Twitter</a>
          </div>

    </div>
 </footer>
 
</body>
</html>