<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Education Details</title>
    <script src="https://kit.fontawesome.com/427a1571ad.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="jobpost.css">
</head>

<body>

    <div class="contact-container" >
        <div class="contact-div">
            <div class="contact-form">
                <span class="circle one"></span><span class="circle two"></span>
                <%let v = "/editEducation?id=" + id +'&ed_id='+ educate.rows[0].id ; %>
                <form action=<%=v%> method = "Post">
                    <h3 class="contact-title">Education Details</h3>

                    <div class="fields">
                        <div class="input-field">
                            <label >Certificate / Degree Name</label>
                            <input type="text" name = "degree" value="<%=educate.rows[0].certificate_degree_name%>" placeholder="Enter your Certificate or Degree name" required>
                        </div>
                        <div class="input-field">
                            <label >Subjects / Major</label>
                            <input type="text" name="major" value="<%=educate.rows[0].major%>" placeholder="Enter Subjects or Major" required>
                        </div>
                        <div class="input-field">
                            <label >Institute Name</label>
                            <input type="text" name = "institute" value="<%=educate.rows[0].institute_university_name%>" placeholder="Enter Institute Name" required>
                        </div>
                        <div class="input-field">
                            <label >Starting Date</label>
                            <% var formattedDate = new Date(educate.rows[0].starting_date).toLocaleDateString('en-GB');%>
                            <%var f1 = formattedDate.slice(6,10)+'-' + formattedDate.slice(3,5)+ '-' + formattedDate.slice(0,2)%>
                            <input type="date" name="start_date" value="<%=f1%>" placeholder="Enter starting date" required>
                        </div>
                        <div class="input-field">
                            <label >Completion Date</label>
                            <% var formattedDate = new Date(educate.rows[0].completion_date).toLocaleDateString('en-GB');%>
                            <%var f1 = formattedDate.slice(6,10)+'-' + formattedDate.slice(3,5)+ '-' + formattedDate.slice(0,2)%>
                            <input type="date" name = "end_date" value="<%=f1%>" placeholder="Enter Completion Date" required>
                        </div>
                        <div class="input-field">
                            <label >CGPA / Percentage</label>
                            <input type="tel" name = "cgpa" value="<%=educate.rows[0].cgpa%>"placeholder="Enter CGPA / Percentage" required>
                        </div>
                        <button type="submit" class="btn contact-btn">Save</button>
                    </div>
            </div>
        </div>
    </div>
   
</body>
</html>