<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--=============== REMIXICONS ===============-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/3.5.0/remixicon.css">

    <!--=============== CSS ===============-->
    <link rel="stylesheet" href="Student_after_login.css">

    <title>View Job</title>
</head>
<body>
    <!--==================== HEADER ====================-->
    <% function time(date) { %>
        <%  var currentDate = new Date();%>
          <%  var dateMilliseconds = date.getTime();%>
          <%  var currentMilliseconds = currentDate.getTime();%>
          <%  var timeDifference = currentMilliseconds - dateMilliseconds;%>
          <%  var differenceInDays = Math.floor(timeDifference / (1000 * 3600 * 24));%>
          <%  var differenceInMonths = Math.floor(differenceInDays / 30);%>
        
          <%  if (differenceInDays < 1) {%>
           <%      return "today"; %>
           <%  } else if (differenceInDays < 30) {%>
           <%      return differenceInDays + " days ago";%>
           <% } else if (differenceInMonths < 12) {%>
           <%      return differenceInMonths + " month ago";%>
           <%  } else { %>
           <%    return date.toDateString();%>
           <% }%>
           <%}%>
    
   <header class="header">
    <section class="flex">

       <div id="menu-btn" class="fa-solid fa-bars-staggered"></div>
       <a href="#" class="logo">
          <h3>P&F Jobs</h3>
      </a>
       <!-- <a href="#" class="logo">
          <i class="fa-solid fa-briefcase"></i>
          Job Search portal
       </a> -->
       <nav class="navbar">
          <a href="/jobSeekerfilters">Home</a>
          <% let a = '/appliedJobs?id=' +id; %>
          <a href=<%=a%>>Jobs</a>
          <a href="/about">About us</a>
          <a href="/contact">Contact us</a>
          <div class="btn dropdown" style="margin-top: 0;">
             <!-- <button class="dropbtn">Dropdown</button> -->
             <i class="fa-regular fa-user"></i>
             <div class="dropdown-content">
               <% let e = '/JobSeekerDetails?id=' +id; %>
               <a href=<%=e%>>Profile</a>
               <a href="/">Logout</a>
             </div>
           </div>
       </nav>
       
    </section>

 </header>


     <section class="job-details">
        <h1 class="heading">job details</h1>
        <div class="details">
            <div class="job-info">
                <h3><%=jobs.rows[0].title%></h3>
                <p><%=jobs.rows[0].company_name%></p>
                <!-- <a href="view_company.html"><%=jobs.rows[0].company_name%></a> -->
                <p><i class="fa-solid fa-location-dot"></i>
                    <%for(let i = 0 ;i<jobs.rows[0].city.length ; i++) {%>
                        <%=jobs.rows[0].city[i]%>
                    <%}%> 
                </p>
            </div>
            <div class="basic-details">
                <h3>Salary</h3>
                <p><%=jobs.rows[0].salary%></p>
                <h3>benefits</h3>
                <p>Work from home, health insurance</p>
                <h3>Work type</h3>
                <p><%=jobs.rows[0].job_type%></p>
                <h3>Schedule</h3>
                <p>Day shift</p>
            </div>
            <ul>
                <h3>requirements</h3>
                <div class="requirements">
                    <li>education: <span>graduate</span></li>
                    <li>age: <span>18+</span></li>
                    <li>language: <span>hindi , english</span></li>
                    <li>experience: <span>3+ years</span></li>
                </div>
               
            </ul>
            <ul>
                <h3>qualifications</h3>
                <div class="requirements">
                    <li>Bachelor's </li>
                <li>PHP: 1 year experience</li>
                <li>Web Design: Both Frontend and Backend</li>
                <li>WordPress: 1 year</li>
                <li>Total work: 3 years</li>
                </div>  
            </ul>
            <ul>
                <h3>skills</h3>
                <div class="requirements">
                    <%for(let i = 0 ;i<jobs.rows[0].job_skills.length ; i++) {%>
                        <li><%=jobs.rows[0].job_skills[i]%></li>
                    <%}%>  
                </div> 
            </ul>
            <ul>
                <h3>Applied : <%=jobs.rows[0].application_count%></h3>
               
            </ul>
            <div class="description">
                <h3>job description</h3>
                
                <div class="requirements">
                    <p>
                        <%=jobs.rows[0].job_description%>
                    </p>
                    <ul>
    
                        <li>Hiring 2 candidates for this role</li>
                        <li><%=time(jobs.rows[0].created_date)%></li>
                    </ul>
                </div>
                
            </div>
            <% let v = '/apply?jobId=' + jobs.rows[0].job_post_id ; %>
            <form action= <%=v%> method="post" class="flex-btn">
                <%if(count == 0){%>
                    <input type="submit" value="apply now" name="apply" id = "apply" class="btn" >
                <%}else{%>
                    <input type="submit" value="applied" name="apply" class="btn" disabled>
                <%}%>
                <!-- <button type = "submit"><i class="far fa-heart" class="save"><span>Save Job</span></i></button> -->
            </form>
        </div>

     </section>

     <footer class="footer">
        <div class="grid">
              <div class="box">
                 <h3>Quick Links</h3>
                 <a href="#"><i class="fa-solid fa-angle-right"> </i> Home</a>
                 <a href="#"><i class="fa-solid fa-angle-right"></i> About us</a>
                 <a href="#"><i class="fa-solid fa-angle-right"></i> All jobs</a>
                 <a href="#"><i class="fa-solid fa-angle-right"></i> Contact us</a>
                 <a href="#"><i class="fa-solid fa-angle-right"></i> Filter search</a>
              </div>

              <div class="box">
                 <h3>extra links</h3>
                 <a href="#"><i class="fa-solid fa-angle-right"></i> Account</a>
                 <a href="#"><i class="fa-solid fa-angle-right"></i> Login</a>
                 <a href="#"><i class="fa-solid fa-angle-right"></i> Register</a>
                 <a href="#"><i class="fa-solid fa-angle-right"></i> Dashboard</a>
              </div>

              <div class="box">
                 <h3>Follow us</h3>
                 <a href="#"><i class="fa-brands fa-instagram"></i> Instagram</a>
                 <a href="#"><i class="fa-brands fa-facebook"></i> Facebook</a>
                 <a href="#"><i class="fa-brands fa-x-twitter"></i> Twitter</a>
              </div>

        </div>
     </footer>



</body>

</html>